/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 4 mar 2024, 17:55:40
    Author     : julio
*/
/* Estilo para la cabecera de la tabla */
.table-view .column-header {
    -fx-background-color: #2196F3; /* Color de fondo */
    -fx-text-fill: white; /* Color del texto */
    -fx-font-weight: bold; /* Negrita */
    -fx-padding: 10px; /* Espaciado interno */
    -fx-alignment: CENTER_LEFT; /* Alineación del texto */
}

